@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
  --space-root: 1rem;
  --space-xs: calc(var(--space-root) / 2);
  --space-s: calc(var(--space-root) / 1.5);
  --space-m: var(--space-root);
  --space-l: calc(var(--space-root) * 1.5);
  --space-xl: calc(var(--space-root) * 2);
  --color-primary: mediumslateblue;
  --color-secondary: black;
  --color-tertiary: rgb(126, 206, 238);
  --base-border-radius: 0.25rem;
  --ease: cubic-bezier(0.075, 0.82, 0.165, 1);
  --duration: 350ms;
  --font-family: 'Roboto', sans-serif;
  --font-size: 1.25rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  padding: var(--space-m);
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: 1.2;
  background-color: var(--color-tertiary);
}

a {
  color: var(--color-primary);

  &:focus {
    color: var(--color-secondary);
  }
}

h1 {
  font-weight: 700;
  font-size: calc(var(--font-size) * 1.5);
}

.form {
  position: relative;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  transform: skewY(-5deg) translateY(10%) scale(0.94);
  transition: box-shadow var(--duration) var(--ease),
    transform var(--duration) var(--ease);

  &:before,
  &:after {
    content: '';
    position: absolute;
    pointer-events: none;
    background-color: darken(white, 8%);
    width: 25%;
    height: 100%;
    transition: background-color var(--duration) var(--ease),
      transform var(--duration) var(--ease);
  }

  &:before {
    top: 0;
    right: calc(100% - 1px);
    transform-origin: 100% 100%;
    transform: skewY(-35deg) scaleX(-1);
    z-index: -1;
  }

  &:after {
    top: 0;
    left: calc(100% - 1px);
    transform-origin: 0 0;
    transform: skewY(-35deg) scaleX(-1);
    z-index: 2;
  }

  &:hover,
  &:focus-within {
    transform: scale(1.0001);
    box-shadow: 0 1rem 3rem rgba(black, 0.1);

    &:before,
    &:after {
      background-color: white;
      transform: skewY(0);
    }
  }
}
input {
  flex: 1 1 0;
  width: 100%;
  outline: none;
  padding: var(--space-m);
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--color-secondary);
  border: 2px solid var(--color-primary);

  &:focus {
    color: var(--color-primary);
  }
}
.btnGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > * + * {
    margin-left: var(--space-s);
  }
}
.btn {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  padding: var(--space-m) var(--space-l);
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: var(--base-border-radius);
}
